export TG_QUEUE_INCLUDE_EXTERNAL=true
export TG_PROVIDER_CACHE=true
export TG_LOG_LEVEL=warn
export TG_PROVIDER_CACHE_DIR="$HOME/.cache/terragrunt/providers"
export TG_TF_PATH="$HOME/.asdf/shims/terraform"
